<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="width: 80%; margin: 0 auto;">
    <ion-item>
      <label for="foto">
        <img id="icon" [src]="image">
      </label>
      <input (change)="i($event.target.files)" id="foto" type="file" accept="image/*" capture="camera" style="display: none;" />
    </ion-item>
    
    <ion-input type="text" placeholder="Marca" [(ngModel)]="marca"></ion-input>
    <ion-input type="text" placeholder="Modelo" [(ngModel)]="modelo"></ion-input>
    <ion-input type="text" placeholder="Year" [(ngModel)]="year"></ion-input>
    <ion-input type="text" placeholder="Precio" [(ngModel)]="precio"></ion-input>

    <ion-button (click)="add()" expand="block">
      AÑADIR MOTO
    </ion-button>

  </ion-card>


</ion-content>
