<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img [src]="moto.foto"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{moto.marca}}</ion-card-subtitle>
      <ion-card-title>{{moto.modelo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the
      woods. Wash your spirit clean.
    </ion-card-content>

    <ion-button (click)="delete()" expand="block">
      BORRAR MOTO
    </ion-button>

  </ion-card>

</ion-content>