 <ion-app>
  <ion-menu side="end" menuId="first" contentId="content1">
      <ion-header>
        <ion-toolbar>
          <ion-title>Filtrar marcas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content id="content1" >
        <ion-list >
  
        </ion-list>
      </ion-content>
    </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
