<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-router-outlet id="main"></ion-router-outlet>
    <ion-title>Mis Motos</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" menuId="first" contentId="main" class="my-custom-menu">
    <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Filtrar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu-toggle auto-hide="true">
      <ion-list *ngFor="let page of pages">
        <ion-item (click)="filtrarMotos(page.title)">
          <img [src]="page.foto" style="width: 30%;">
          {{page.title}} 
        </ion-item>
      </ion-list>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
 
  <ion-list>
    <ion-item *ngFor="let moto of motos" (click)="detalle(moto)">
      <img [src]="moto.foto" style="width: 20%; margin-right: 2rem;" />
      <ion-label>{{moto.modelo}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab class="fab" slot="fixed" (click)="next()">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>